{% extends 'NSPurearthBundle::product_list.html.twig' %}
{% block title %}
    Classes
{% endblock %}
    {% block listTitle %}
    {% endblock %}
{% block noProductsMessageText %}
    <p>Sorry, there are no classes currently offered.</p>
    <p>Please check back later.</p>
{% endblock %}

{% block intro %}
    {{ render(controller('NSPurearthBundle:Default:content', {'slug':'ClassesIntro', 'template':'NSPurearthBundle:Content:embed.html.twig'})) }}
{% endblock %}

{% macro courseImage(item) %}
    <div class="col-xs-12 col-md-6">
        <img src="{{ vich_uploader_asset(item, 'imageFile')|imagine_filter('class_thumbnail') }}" alt="" />
    </div>
{% endmacro %}

{% macro courseDesc(item) %}
<div class="col-xs-12 col-md-6">
    <h4>
        <a href="{{ path('course_view', {'id':item.id}) }}">{{ item.name }}</a>
    </h4>
    {% if item.subtitle %}
        <p><strong>{{ item.subtitle }}</strong></p>
    {% endif %}
    <em class="itemDate">
        {{ item.date.format('M d, Y') }}, {{ item.startTime.format('h:i a') }} to {{ item.endTime.format('h:i a') }}
    </em>
    <p>Last day to register: <strong>{{ item.registrationCutoff.format('M d, Y') }}</strong></p>
    <p>{{ item.summary|raw }}</p>

    {% if item.maxSeats and item.seatsRemaining > 0 %}
        <p><strong>{{ item.seatsRemaining/item.maxSeats <= 0.20 ? 'Only' : '' }} {{ item.seatsRemaining }} spots left</strong></p>
    {% else %}
        <p><em>Sorry, this class is now full.</em></p>
    {% endif %}
    <a href="{{ path('course_view', {'id':item.id}) }}" class="btn-like">
        <span class="price">
            {% if item.seatsRemaining <= 0 %}
            <s>
            {% endif %}
                {% if item.price %}
                    ${{ item.price }}
                {% else %}
                    Free!
                {% endif %}
                {% if item.seatsRemaining <= 0 %}
                </s> &nbsp; <span class="red">FULL!</span>
            {% endif %}
        </span>
        Details, Registration &amp; Payment
    </a>
</div>
{% endmacro %}

{% block productList %}
    <div class="productList">
        {% for item in items %}
            <div class="clearfix class">
                {% if loop.index is odd %}
                    {{ _self.courseDesc(item) }}
                    {{ _self.courseImage(item) }}
                {% else %}
                    {{ _self.courseImage(item) }}
                    {{ _self.courseDesc(item) }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block promo %}
<div class="clearfix promo classes">
    <div class="col-xs-12 col-md-6 col-sm-2 col-xl-5 col-xl-offset-2">
        <h2>Coming Up</h2>
        {{ render(controller('NSPurearthBundle:Course:highlight')) }}
    </div>
    <div class="col-xs-12 col-md-6 col-xl-4">
        <h2>Want another class?</h2>
        <p>What class would you like us to offer, or what class would you like repeated?</p>
        <form class="courseContact recaptcha-form" method="post" action="{{ path('course_contact') }}">
            {{ form_widget(form.recaptcha) }}
            {{ form_errors(form.recaptcha) }}
            <div class="form-group">
                {{ form_label(form.text, null, {'label_attr':{'class':'sr-only'}}) }}
                {{ form_widget(form.text) }}
                {{ form_errors(form.text) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email, null, {'label_attr':{'class':'sr-only'}}) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            {{ form_rest(form) }}
            <div class="form-group">
                <button class="btn btn-purple" id="contact_submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
