{% extends 'NSPurearthBundle:Order:checkout.html.twig' %}

{% block title %}
    Order Details
{% endblock %}

{% block modifyCart %}
{% endblock %}

{% block pageScripts %}
    {% if newOrder %}
    <script type="text/javascript">
        var trackContent = {
            value: {{ order.payment.amount }},
            currency: '{{ order.payment.currency|upper }}',
            content_ids: [],
            num_items: {{ (order.getOrderProducts()|length) + (order.courseRegistrations|length) }}
        };

        {% for orderProduct in order.getOrderProducts() %}
            trackContent.content_ids.push({{ orderProduct.product.id }});
        {% endfor %}

        {% for courseRegistration in order.courseRegistrations %}
            trackContent.content_ids.push('course_{{ courseRegistration.course.id }}');
        {% endfor %}

        fbq('track', 'Purchase', trackContent);
    </script>
    {% endif %}
{% endblock %}

{% block tableTitle %}Order #{{ order.id }}{% endblock %}

{% block delivery %}
    {% if order.hasDelivery %}
    <tr>
        <td colspan="4">
            <h4>Delivery <i class="fa fa-truck"></i></h4>
            <p>You selected our flat-rate local delivery option for this order!</p>
            <label for="shipping"><strong>Flat-rate local delivery: </strong> ${{ shipping|number_format(2) }}</label>
        </td>
    </tr>
    <tr class="deliveryInfo" style="display:none;">
        <th colspan="3"></th>
        <th>Total ${{ (total+shipping)|number_format(2) }}</th>
    </tr>
    {% endif %}
{% endblock %}

{% block courseRegistrations %}
    {% if order.courseRegistrations|length %}
    <h3>Class Registrations</h3>
        <div class="row">
        {% for reg in order.courseRegistrations %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h4>{{ reg.course }}</h4>
                <p>{{ reg.registrantInfo|nl2br }}</p>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block paymentData %}
    {% if order.isChargable() %}
    <div class="col-xs-12 col-sm-10">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-4">Cardholder</label>
                <div class="col-xs-12 col-sm-8">
                    {{ order.payment.cardHolder }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-4">Card Number</label>
                <div class="col-xs-12 col-sm-8">
                    {{ order.payment.card }} **** **** **** {{ order.payment.last4 }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-4">Amount</label>
                <div class="col-xs-12 col-sm-8">
                    {{ order.payment.currency|upper }} <strong>${{ order.payment.amount }}</strong>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block requests %}
<p>{{ order.comments|nl2br }}</p>
{% endblock %}

{% block checkout_rest %}
{% endblock %}
