{% extends 'NSPurearthBundle:Admin:layout.html.twig' %}

{% block page_subtitle %}
    Dashboard
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Recent Orders</h4>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order #</th>
                                <th>User</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <th>{{ order.id }}</th>
                                <td>{{ order.user }} (<a href="mailto:{{ order.user.email }}">{{ order.user.email }}</a>)</td>
                                <td>${{ order.payment.amount }} {{ order.delivery ? '<i title="Delivery" class="fa fa-truck"></i>' : '' }}</td>
                                <td><a class="btn btn-sm btn-success" href="{{ path('sonata_order_show', {'id':order.id}) }}"><i class="fa fa-search-plus"></i> Show</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <a class="btn btn-sm btn-primary" href="{{ path('sonata_order_list') }}"><i class="fa fa-shopping-cart"></i> View all orders</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">New Customers</h4>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>Registered</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user }} (<a href="mailto:{{ user.email }}">{{ user.email }}</a>)</td>
                                <td>{{ user.createdAt.format('M d, y') }}</td>
                                <td><a class="btn btn-sm btn-success" href="{{ path('sonata_customer_show', {'id':user.id}) }}"><i class="fa fa-search-plus"></i> Show</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4">
                                <a class="btn btn-sm btn-primary" href="{{ path('sonata_customer_list') }}"><i class="fa fa-shopping-cart"></i> View all users</a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
