<div class="blog_post">
    {% do wordpress('setup_postdata', post) %}
    <h2><a href="{{ path('wp_view', {'slug': post.post_name}) }}">{{ wordpress('get_the_title', post)|raw }}</a></h2>
    {{ wordpress('get_the_post_thumbnail', post)|raw }}
    <p class="blog_date">Posted on <strong>{{ wordpress('get_the_date', 'l, M d, Y', post) }}</strong></p>
    {% set tags = wordpress('wp_get_post_tags', post.ID) %}
    {% if tags|length %}
    <p>
    <span class="blog_tags">
        <i class="fa fa-tag{{ tags|length > 1 ? 's':'' }}" title="Tag{{ tags|length ? 's':'' }}"></i>
        Tag{{ tags|length > 1 ? 's':'' }} |
        {% for tag in tags %}
            <a href="{{ path('wp_tag', {'tag':tag.slug}) }}">{{ tag.name }}</a>{{ not loop.last ? ', ':'' }}
        {% endfor %}
    </span>
    </p>
    {% endif %}
    <p>{{ wordpress('get_the_excerpt', post)|raw }}</p>
</div>